.recipe-form {
    width: 500px;
    background-color: white;
    color: #333;
    padding: 2rem 2.5rem;
    border-radius: 8px;
}

.recipe-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #6B0F1A;
    font-size: 1.6rem;
}

.form-group {
   display: grid;
   grid-template-columns: 150px 1fr;
   align-items: center;
   gap: 1rem;
}

.form-group label {
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: #6B0F1A;
    font-size: 1.1rem;
}

.form-group input, select, textarea {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0.6rem;
    font-size: 1rem;
    background-color: #eee;
    color: black;
    margin-bottom: 1rem;
}

.form-group textarea {
    min-height: 200px;
    resize: vertical;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.submit-button {
    background-color: #6B0F1A;
    padding: 0.6rem 1.4rem;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1rem;
}

.submit-button:hover {
    background-color: #8B1F2D;
}

.cancel-button {
    background-color: transparent;
    color: #6B0F1A;
    border: 1px solid #6B0F1A;
    padding: 0.6rem 1.4rem;
    border-radius: 4px;
}

.cancel-button:hover {
    background-color: #e0e0e0;
}