main ul {
    list-style-type: none;
    padding: 0;
}

main li {
    background-color: rgb(232, 232, 232);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

main li h3{
    margin-top: 0;
    color: #6B0F1A;
}

main p{
    color: #6B0F1A;
}

main button {
    background-color: #6B0F1A;
    margin: 0 20px 0 0;
}